@media screen and (min-width: 40em) {
  html {
    font-size: 23px;
  }
}
body {
  color: #2d2b31;
  line-height: 1.6rem;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: #f5f4f0 !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  width: 90%;
}
.cards-section {
  margin: 0 -1.2rem;
}

p {
  margin: 0;
  font-size: 1rem;
}
h4,
h3 {
  margin-top: 0;
  font-size: 1.333rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

header {
  margin: auto;
  padding-top: 2rem;
  width: fit-content;
  text-align: center;
}
h1 {
  margin-top: 0.5rem;
}

.card {
  display: flex;
  align-items: center;
}

.card--reverse-order {
  flex-direction: row-reverse;
}
.card__text {
  padding: 3.2rem 1.2rem;
  flex-basis: 50%;
  /* padding: 0 1.2rem; */
}

.card__image {
  padding: 3.2rem 1.2rem;
  flex-basis: 50%;
}
.card__image-container {
  position: relative;
}
.card__image img:first-child {
  position: relative;
  max-width: 100%;
  box-shadow: 10px 10px 28px 0 rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.card-img-bg {
  position: absolute;
  width: 420px;
  background-color: #ededed;
  z-index: 1;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .card-img-bg {
    display: none;
  }
}

.card-img-bg__left-down {
  height: 420px;
  top: 50px;
  right: 50px;
}

.card-img-bg__right-middel {
  height: 320px;
  top: 50px;
  left: 50px;
}

.card-img-bg__left-up {
  height: 420px;
  bottom: 50px;
  right: 50px;
}

.card-img-bg__right-down {
  height: 420px;
  top: 50px;
  left: 50px;
}

.card-img-bg__left-middel {
  height: 320px;
  bottom: 50px;
  right: 50px;
}

.pricing {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3.2rem;
}

.pricing h2 {
  font-size: 1.77rem;
}

/* contact section style */

.contact {
  background-color: #9bccbb;
  padding-bottom: 3.2rem;
  padding-top: 3.2rem;
}

.contact .contact-header {
  text-align: center;
  margin-bottom: 2rem;
}

/* form style */

.row {
  display: flex;
}

.form {
  font-size: 1rem;
}
.row-element {
  margin-top: 0.8rem;
  width: 100%;
  padding: 0 1.2rem;
}

.row-element input,
textarea {
  background-image: none;
  background-color: transparent;
  border-bottom: 2px solid #5a5661;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  color: #2d2b31;
  display: block;
  font-family: Karla, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  max-width: 100%;
  padding: 0.1rem 0 0.1rem;
  width: 100%;
}

.submit-btn {
  /* margin-top: 0.8rem; */
  background-color: transparent;
  border-color: #5a5661;
  border-width: 2px;
  color: #2d2b31;
  border-radius: 0;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: Karla, Verdana, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  line-height: 1.6rem;
  margin-bottom: 0;
  padding: 0.55rem 1.2rem 0.45rem;
  text-align: center;
  float: right;
}

footer {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
footer a {
  color: #2d2b31;
}
.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sm-links {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.sm-links .icon {
  height: 35px;
  width: 35px;
  max-width: 100%;
}
